.postButton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

.postButton_text{
    width: 683px;
    min-height: 379px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    border: solid silver 8px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p{
    margin: 5px;
}