.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
    padding: 20px;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: flex-start;
}
